@import url("css/docs.css");

:root {
  /* variables are coming from https://poshui-components.netlify.app/css/main.css */
  --COLOR-BACKGROUND: var(--COLOR-SLATE-50);

  --COLOR-BRAND: var(--COLOR-GLOSSY-BLUE-500);
  --COLOR-BRAND-DARK: var(--COLOR-GLOSSY-BLUE-700);
  --COLOR-BRAND-LIGHT: var(--COLOR-GLOSSY-BLUE-100);

  --COLOR-TEXT: var(--COLOR-SLATE-700);
  --COLOR-TEXT-300: var(--COLOR-SLATE-300);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--COLOR-BACKGROUND);
  font-size: 1.6rem;
}

/* Container */
.container {
  color: var(--COLOR-TEXT);
  min-height: 100vh;
  max-width: 140rem;
}

/* Link */
/* aside-left-container is present in docs.css */
.link,
.aside-left-container a {
  color: var(--COLOR-TEXT);
  font-size: 2rem;
  position: relative;
}

.link::after,
.aside-left-container a::after {
  background: var(--COLOR-TEXT);
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.2s, left 0.2s;
  width: 0;
}

.link:hover::after,
.aside-left-container a:hover::after {
  left: 0;
  width: 100%;
}

.link-active,
.aside-left-container a.link-active {
  color: var(--COLOR-BRAND);
  font-weight: 600;
}

.link-active::after,
.aside-left-container a.link-active::after {
  background: var(--COLOR-BRAND);
}

/* Header */
.btn-theme {
  background: unset;
  border: none;
  color: var(--COLOR-TEXT);
  font-size: 2rem;
}

/* Home */
.btn-home {
  box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem var(--COLOR-TEXT-300);
  font-size: 2rem;
  margin: 3rem 1rem 1rem 0;
  width: 20rem;
}

.btn-home-outline:hover {
  background: var(--COLOR-BACKGROUND);
  color: var(--COLOR-BRAND);
}

.footer-home {
  border-top: thin solid var(--COLOR-TEXT-300);
  justify-content: center;
  min-height: 15vh;
}

.footer-home,
.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 4rem;
}

.header {
  border-bottom: thin solid var(--COLOR-TEXT-300);
}

.header .img-brand-logo {
  max-height: 7rem;
  max-width: 7rem;
}

.link-brand {
  color: var(--COLOR-BRAND);
  font-size: 3.5rem;
}

.main {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  min-height: 75vh;
  padding: 1.5rem;
}

.main div {
  font-size: 2.5rem;
  max-width: 55rem;
  text-align: center;
}

/* Dark Theme */
[data-theme="dark"] {
  --COLOR-BACKGROUND: #22272e;
  --COLOR-CODE-BG: #2d333b;
  --COLOR-TEXT: #adbac7;
  --COLOR-TEXT-300: #8d97a0;
}

[data-theme="dark"] .text-slate-800 {
  color: var(--COLOR-TEXT);
}

[data-theme="dark"] .btn-home {
  box-shadow: 0.1rem 0.1rem 0.5rem var(--COLOR-TEXT-300);
}

[data-theme="dark"] .component-container {
  background: var(--COLOR-CODE-BG);
  border-color: var(--COLOR-CODE-BG);
}

[data-theme="dark"] :is(.card, .grid, .modal, .stacked-list li) {
  color: var(--COLOR-BACKGROUND);
}

[data-theme="dark"] .badge-btn {
  color: var(--COLOR-TEXT);
}

[data-theme="dark"] :is(table, tr) {
  border-color: var(--COLOR-BACKGROUND);
}

[data-theme="dark"] tbody tr:nth-child(even) {
  background: var(--COLOR-BACKGROUND);
}

/* Media Query */
/* 
  .docs, 
  .aside-right, 
  .aside-right-container,
  .component-container,
  .link-to-top, 
  .footer-docs, 
  .main-docs 
    are present in docs.css 
*/
@media only screen and (max-width: 63em) {
  .docs {
    grid-template-areas:
      "header header"
      "aside-left main";
    grid-template-columns: 25rem minmax(0, 1fr);
  }

  .aside-right,
  .aside-right-container {
    display: none;
  }

  .component-container > .grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .link-to-top {
    display: unset;
  }
}

@media only screen and (max-width: 59em) {
  .docs {
    grid-template-columns: 20rem minmax(0, 1fr);
  }

  .aside-left-container {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 44em) {
  .docs {
    grid-template-areas:
      "header"
      "main";
    grid-template-columns: minmax(0, 1fr);
  }

  .aside-left,
  .aside-left-container {
    display: none;
  }

  .container {
    padding: 0.5rem;
  }

  .footer-docs {
    display: flex;
  }

  .header {
    padding: 1rem 0.5rem;
  }

  .link-to-top {
    display: none;
  }

  .main-docs {
    padding: 3.5rem 0.5rem;
  }
}

@media only screen and (max-width: 40em) {
  html {
    font-size: 60%;
  }

  .docs {
    grid-template-rows: 12rem 1fr;
  }

  .header {
    height: 12rem;
  }

  .main div {
    font-size: 2rem;
  }
}
